<?xml version="1.0" ?>

<launch>
  <arg name="for_real" default="false"/>
  <arg name="load_gripper" default="true" />
  <arg name="load_netft" default="true" />
  <arg name="robot_ip" default="robot.franka.de" />
  <arg name="publish_rate" default="30" />
  <arg name="wifi_leds" default="true" /> 
  
  <param unless="$(arg load_gripper)" name="robot_description" command="$(find xacro)/xacro '$(find franka_description)/robots/panda_arm.urdf.xacro'" />
  <param if="$(arg load_gripper)" name="robot_description" command="$(find xacro)/xacro  '$(find franka_description)/robots/panda_arm_hand.urdf.xacro'" />


  <node name="pdcontrollergoal2jointstate" pkg="phastapromp" type="pdcontrollergoal2jointstatepublisher.py"  output="screen"/>

 <node if="$(arg wifi_leds)" pkg="simple_wifileds" name="led_visual_bridge" type="led_visual_bridge.py" >
  <param name="number_of_leds" type="int" value="4" />
  <param name="led_host_address" type="str" value="wifileds.local" />
  <param name="visual_output_topic" type="str" value="/panda/led_color" />
 </node>



  <param if="$(arg for_real)" name="panda_hostname" value="panda1"/> 
  <param if="$(arg load_netft)" name="/netft/hostaddress" value="192.168.11.3"/>  
  <rosparam command="load" file="$(find controller_panda_mti)/config/$(env PANDA_MAC).yaml" />
  <node     if="$(arg for_real)"   name="pdcontroller" pkg="controller_panda_mti"   launch-prefix="chrt -f 40"  type="pdcontroller_netft" required="true"  output="screen">
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <remap from="/joint_states" to="/panda/joint_states_goal"/>#
    <param  if="$(arg load_gripper)" name="publish_default_positions" value="true" />
  </node>

  <node name="realrobot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <remap from="/joint_states" to="/panda/joint_states_real"/>
    <param name="tf_prefix" value='realrobot'/>
    <param  if="$(arg load_gripper)" name="publish_default_positions" value="true" />
  </node>
  <node pkg="tf2_ros" type="static_transform_publisher" name="realrobot_anchor" args="0 0 0 0 0 0 1 panda_link0 realrobot/panda_link0" />  


  <param name="robot_description" command="$(find xacro)/xacro $(find franka_description)/robots/panda_arm_hand.urdf.xacro" />
  <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(env ROS_DATA)/labelapp.rviz"/>  

</launch>
