<?xml version="1.0" ?>

<launch>
  <node name="ensurePresenceOfDefaultFiles" pkg="phastapromp" type="initializeDataDir.sh"  cwd='node' output="screen" />

  <group>
    <param name="DemoSessionConfigFileName" value="session.yaml"/>  
    <node name="teaching_app"  pkg="phastapromp" type="teaching_app.py" args="session.yaml" required="true" output="screen" />
  </group>


    <include file="$(find phastapromp)/launch/labelapp_auxiliary.launch" >
      <arg name="for_real" default="true"/>
      <arg name="wifi_leds" default="false" />
    </include>
</launch>



