<?xml version="1.0" ?>

<launch>
  <env name="OPENBLAS_NUM_THREADS" value="1" />   <!--workaround for bug in libopenblas, causes extreme (1000x) sys cpu overhead on numpy matrix inversion-->
  <arg name="for_real" default="false"/>  
  <arg name="load_gripper" default="true" />
  <arg name="robot_ip" default="robot.franka.de" />
  <arg name="publish_rate" default="30" />
  
  <param if="$(arg for_real)" name="panda_hostname" value="panda1"/>

  <arg name="data_dir" default='$(env PWD)'/> <!-- This tells the teaching app where to find/dump data-->
  <arg name="DefinitionsDirectory" default='behavior/'/> <!-- This tells the teaching app where to find/dump data-->
  
  <param name="data_dir" value='$(arg data_dir)/' />


  <rosparam command="load" file="$(arg data_dir)/behavior/phasta.yaml" ns="phastapromep" />
  

<group if="$(arg for_real)" >
  <node name="pdcontrollergoal2jointstate" pkg="phastapromep" type="pdcontrollergoal2jointstatepublisher.py"  output="screen">
   <remap from="/panda/joint_states_goal" to="/joint_states"/>
 </node>  
</group>
  
  <node unless="$(arg for_real)"   name="pdcontrolleremulator" pkg="phastapromep" type="pdcontrolleremulationnode.py"  output="screen">
        <remap from="/desired_joint_states" to="/joint_states"/>
  </node>
  

  <node name="phasta" pkg="phastapromep" type="phastanode.py"  output="screen">
  </node>
  <node name="movementmixer" pkg="phastapromep" type="prompmixernode.py"  output="screen">
      <remap from="/mixer/pdcontroller_goal" to="/panda/pdcontroller_goal"/>
  </node>

  
  
</launch>
